@font-face{
    font-family:Cursive;
    src: url(assets/misc/Pacifico-Regular.ttf);
}

@supports (text-indent: each-line) {
    .task-text {
        text-indent: 2em each-line !important;
    }
}

@supports not (text-indent: each-line) {
    .task-text {
        text-indent: 2em !important;
    }
}

@media (max-width: 1100px) {
    body {
        width:100vw;
    }
    .title {
        display: none;
    }
    .tutor-container {
        position:static !important;
        min-height:92vh !important;
    }
    .page-tutor{
        font-family:'Courier New', Courier, monospace;
        font-size:1.5rem !important;
        text-align: center;
        color:rgba(170, 170, 170, 0.4);
        position:absolute;
        top:45%;
        transform: translateY(-50%);
    }
    main {
        display:flex !important;
        flex-direction:column;
        position:relative;
    }
    .page-selector{
        width:100vw;
        height:8vh;
        padding: 0 !important;
        overflow-x:auto !important;
        overflow-y:hidden !important;
        position:fixed;
        background-color: #565665;
        top:0;
        z-index:3;
    }
    .page-selector fieldset {
        width:100vw;
        height:8vh;
        padding:0 2vw !important;
        display:grid !important;
        grid-auto-flow:column;
        grid-auto-columns:max-content;
        align-items:center;
        gap: 3vw;
        overflow-x:auto !important;
        overflow-y:hidden;
    }
    .pageRadio {
        width:fit-content;
        display:inline-block;
        height: 6vh !important;
        padding: 1vw 10vw !important;
        border-radius: 64px !important;
        font-size: 1rem !important;
        margin-bottom:0 !important;
    }
    .page-container {
        width:100vw !important;
        margin:0 !important;
        margin-top:16vw!important;
        position:absolute !important;
        display:flex!important;
        justify-content:center!important;
        align-items:center!important;
    }
    .page-frame {
        border-radius: 0 !important;
        min-height:100% !important;
        width: 100%;
        position:static !important;
    }
    .content {
        position:static !important;
        padding-left: 2vw !important;
        /* padding-bottom:8vh !important; */
    }
    .content pre {
        width: 94vw !important;
    }
    .content code {
        font-size: 14px !important;
    }
    .help {
        font-size:1.2rem !important;
        width: 90vw !important;
    }
    .desc {
        font-size: 1.6em !important;
        width: 95vw !important;
    }
    .content img {
        width: 94vw !important;
        border-radius: 8px !important;
    }
    .version {
        flex-direction:column-reverse;
        font-size:1.2rem !important;
        line-height:0.5rem;
    }
    #headerAuthor{
        font-size:0.6rem !important;
    }
    #headerAuthor a{
        font-size:1rem !important;
        margin-left:0.5rem !important;
    }
}

html, body {
    margin:0;
    padding:0;
    color:aliceblue;
    scrollbar-color: #44449d #333;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color:  #2e2e3f;
}
body .title {
    font-family: Cursive;
    font-size:1.4em;
    margin-left:0.7vw;
    margin-top:0;
    direction:ltr;

}
main{
    width:100%;
    height:100vh;
    display:grid;
    background-color: rgba(255,255,255,0.1);
    grid-template-columns: 16vw 84vw;
}
.page-selector{
    padding:1.1vw 0.5vw;
    padding-right:0;
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    direction:rtl;
}
.pages-container {
    overflow-y:auto;
    border-radius:8px;
}
.pages-container fieldset {
    direction:ltr;
}
.page-container {
    display:flex;
    align-items:center;
    margin:0 1vw;
}
.page-frame {
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#2e2e3f;
    border-radius: 24px;
    height:95%;
    width:100%;
    overflow-y:auto;
}
.hljs-keyword{
    color:#c792ea !important;
}
.function_ {
    color:#82aaff !important;
}
.hljs {
    background-color: #1e1e2c !important;
    color: #bfc7d5 !important;
}
.hljs-built_in {
    color:#89ddff !important;
}
.hljs-string {
    color: #c3e88d !important;
}
.hljs-number {
    color: #f78c6c !important;
}
.desc {
    width:max-content;
    font-size: 2.2rem;
    padding:0.25vw;
    padding-bottom:0;
    margin:2vh 0;
}
.help {
    background-color: rgba(255,255,255,0.1);
    width:80%;
    padding:0.25vw 2vw;
    font-size: 1.3rem;
}
code, .img {
    border-radius: 12px;
}
.tutor-container{
    position:absolute;
    z-index:0;
    display:none;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    bottom:0;
}
.tutor-container.visible {
    flex-direction:column;
    color:peru;
    text-align: center;
}
.page-tutor{
    font-family:'Courier New', Courier, monospace;
    font-size:2rem;
    color:rgba(170, 170, 170, 0.4);
}
.version {
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    bottom: 2vw;
    font-size:1.4rem;
    margin:-1vw 0;
    color:rgba(170, 170, 170, 0.3);
    display:flex;
    align-items:center;
    gap:1.5vw;
}
.content {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    padding-left: 18px;
    font-size:1.2rem;
    width: 100%;
    transition: max-height 0.2s ease-out;
}
.content img {
    width:80%;
}
.img.ascii {
    width:40%;
    padding:0.4vw;
    background-color:#000;
}
.content pre {
    width: 100%;
    overflow-x: auto !important;
    border-radius: 8px;
}
.content code {
    width: fit-content;
    font-size: min(max(1.4vw, 12px), 1.4rem);
}
.code-container {
    width:100%;
}
.content {
    display: none;
}
.content.visible {
    display: inline-block;
    width:fit-content;
}
.visible {
    display: flex;
}
.page-selector fieldset{
    width:100%;
    border:none;
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
}
.pageRadio{
    background-color:rgba(255,255,255,0.1);
    box-shadow:4px 4px rgba(0,0,0,0.1);
    transition: background-color 0.1s;
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:aliceblue;
    cursor: pointer;
    padding: 1vw;
    margin:0.15vw 0;
    margin-left:0.5vw;
    font-weight:600;
    font-size: 1.2rem;
    border-radius: 8px;
}
.pageRadio input{
    display:none;
}
.pageRadio:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow:none;
}
.pageRadio:active {
    background-color: rgba(0,0,0,0.25);
    box-shadow:none;
}
.page-item{
    position:relative;
    user-select:none;
    transition: background-color 0.3s ease;
}
.active {
    background-color: rgba(255,255,255,0.5);
    text-shadow: rgba(0,0,0,0.7) 0.2vw 0.25vh 0.3vw;
}
.active:hover {
    background-color: rgba(255,255,255,0.35);
}
.active:active{
    background-color: rgba(0,0,0,0.25);
}
.task-text {
    background-color:rgba(0,0,0,0.4);
    padding: max(10px, 1vw);
    width:90%;
    border-radius:8px;
    font-size:inherit;
    text-indent: 2em each-line !important;
}
.desc a, .desc a:link {
    color:aliceblue;
}
.desc a:visited, .desc a:focus {
    color:#c792ea;
}
.desc a:hover {
    color:rgb(141, 91, 173);
}
.desc a:active {
    color:rgba(141, 91, 173, 0.5);
}
table, th, td {
    border: 1px solid;
    text-align: center;
    margin: 2vw 1vw;
}
th, td {
    padding: max(10px, 1vw);
}
table {
    border-collapse: collapse;
}

#headerAuthor{
    filter:none;
    position:relative;
    font-size:0.8rem;
    display:flex;
    align-items:center;
    background:transparent;
    transition: color 0.3s;
}
#headerAuthor:hover{
    color:#999;
}
#headerAuthor a {
    margin:0 0.4vw;
    font-size:1.4rem;
}
#headerAuthor a:link, #headerAuthor a:visited, #headerAuthor a:hover, #headerAuthor a:active {
    text-decoration: none;
    color:inherit;
}
#headerAuthor:after{
    content: '';
    position: absolute;
    left: 0;
    top: 150%;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        45deg,
        #f00, #ff7300, #fffb00, #48ff00,
        #00ffd5, #002bff, #ff00cb, #f00
    );
    animation: glowing 20s linear infinite;
    background-size: 600%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
#headerAuthor:hover:after{
    transform: scaleX(1);
}

@keyframes glowing {
    from {background-position: 0 0;}
    to {background-position: 600% 0;}
}